{% extends "index.html" %}

{% block nav %}
    <nav class="site-navigation position-relative text-right" role="navigation">
        <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
            <li class="cta"><a href="{{ url_for('input_profession') }}"
                               class="nav-link"><span>Find other courses</span></a></li>
            <li class="cta"><a id="selected" href="download" class="nav-link" target="_blank"><span>Download</span></a>
            </li>
        </ul>
    </nav>
{% endblock nav %}

{% block content %}

    <nav class="skills_sidenav" id="side_menu">
        <label id="label_menu"><strong>More skills</strong></label>
        {% for letter in sorted_skills_by_letter.keys() %}
            {% if sorted_skills_by_letter[letter] != [] %}
                <button class="dropdown-btn">{{ letter.upper() }}
                    <i class="fas fa-chevron-down"></i>
                </button>
                <div class="dropdown-container">
                    {% for skill in sorted_skills_by_letter[letter] %}
                        <a href="#">{{ skill.name[0].upper() + skill.name[1:] }}</a>
                    {% endfor %}

                </div>
            {% endif %}
        {% endfor %}
    </nav>

    <main class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="col-12">
                {% for skill in sorted_skills_by_letter["a"] %}
                    {% for course in skill.courses %}
                        <div class="course2 bg-white mb-5">
                            <div class="row">
                                <div class="col-3">
                                    <figure class="m-0">
                                        <a href="{{ course.url }}"><img src="{{ course.image }}"
                                                                        class="img-fluid"></a>
                                    </figure>
                                </div>
                                <div class="col-9 pt-4">
                                    <h3><a href="{{ course.url }}">{{ course.course_title }}</a></h3>
                                    <div class="meta"><span class="icon-clock-o"></span>{{ course.course_duration }}</div>
                                    <p>{{ course.long_description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}