{% extends "base_log_reg.html" %}
{% block content %}
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="#">SEA</a></div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="\register" class="nav-link"><span>Register</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </header>

    <div class="intro-section" id="home-section">
      
      <div class="slide-1" style="background-image: url('static/images/background.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                  <form action="" method="post" class="form-box" novalidate>
                    <h3 class="h4 text-black mb-4">Login</h3>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" name="username">
                        {% for error in form.username.errors %}
                          <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" name="password">
                        {% for error in form.username.errors %}
                          <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-4">
<!--                      <input type="password" class="form-control" placeholder="Re-type Password" name="re_password">-->
{#                      <span class="form-control">{{ form.remember_me() }}<p>Remember me</p></span>#}
                        <input type="checkbox" id="remember_me" name="remember_me" size="25px"> <label style="font-size: 1rem; color: #495057; padding: 5px" for="remember_me">Remember me</label>
                    </div>
                    <div class="form-group">
{#                      <span class="form-control"><p>{{ form.submit() }}</p></span>#}
                        <input type="submit" class="btn btn-primary btn-pill" value="Sign up">
                        <span class="btn btn-primary btn-pill"><a href="{{ url_for('register') }}" style="color:white">Click to register</a></span>
                    </div>
{#                    <div class="form-group">#}
{#                      <span class="btn btn-primary btn-pill"><a href="{{ url_for('register') }}" style="color:white">Register</a></span>#}
{#                    </div>#}
                  </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}