<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SEA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="static/css/aos.css">

    <link rel="stylesheet" href="static/css/style.css">
      <style>
          .slide-1:before {
              opacity: 0;
          }
      </style>

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" style="background-image: url('static/images/background3.jpg');background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <link rel="stylesheet" href="static/css/checkbox_style.css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="static/css/component.css" />
    <link rel="stylesheet" type="text/css" href="static/css/button.css" />
    <script src="static/js/modernizr.custom.js"></script>

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="#">S.E.A</a></div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="\input_profession" class="nav-link"><span>Search again</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </header>
    <div class="intro-section" id="home-section">

      <div class="slide-1">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                    <form class="form" autocomplete="off" id="form" method="post">
                      <p style="color:rgba(36,115,184,0.79); font-size: 32px">What skills do you already have?</p>
						{%for i in skills %}
                            <div class="inputGroup">
                                <input id={{i}} value="{{i}}" name="chosen_skills" type="checkbox"><label for={{i}}>{{ i[0].upper() + i[1:] }}</label>
                            </div>
						{% endfor %}
						<div class="wrap">
							<button class="button" type="submit" form="form" value="Submit">Confirm</button>
						</div>
                    </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script src="static/js/svgcheckbx.js"></script>
  </div>
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="static/js/jquery-ui.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/jquery.stellar.min.js"></script>
  <script src="static/js/jquery.countdown.min.js"></script>
  <script src="static/js/bootstrap-datepicker.min.js"></script>
  <script src="static/js/jquery.easing.1.3.js"></script>
  <script src="static/js/aos.js"></script>
  <script src="static/js/jquery.fancybox.min.js"></script>
  <script src="static/js/jquery.sticky.js"></script>
  <script src="static/js/main.js"></script>
  </body>
</html>