.horizontal {
    writing-mode: horizontal-tb;
}

.text_for_course{
    margin: 5%;
}

.search_button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7971ea;
    border: none;
    border-radius: 15px;
    margin-bottom: 10%;
}

.search_button:active {
    background-color: #2e003e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h1.skill_title {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.course_price {
    font-size: 150%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #7971ea;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav_a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav_b {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 37px;
    font-weight:600;
}

.topnav_error {
    color: #fa7373;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight:600;
    margin-left: 130px;
}

.topnav_logo {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    font-weight: bold;
    top: 2%;
    left: 3%;

    font-family: 'Merriweather', serif;
    text-align: center;
    text-shadow: #2a8d7b -2px -2px;
}


/* Style the links inside the navigation bar */
.topnav button{
    float: right;
    color: #ddd;
    background-color: #7971ea;
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #7971ea;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ddd;
    color: #7971ea;
}

/* Change the color of links on hover */
.topnav button:hover {
    background-color: #ddd;
    color: #7971ea;
}

/* Add a color to the active/current link */
.topnav button.active {
    background-color: #ddd;
    color: #7971ea;
}

.title--white {
    color: #fff !important
}

.title--center {
    text-align: center
}

h1.title--ultra, h2.title--ultra, h3.title--ultra, h4.title--ultra, h5.title--ultra, h6.title--ultra {
    font-weight: 900
}

.scribble-under {
    display: inline-block;
    line-height: 1.1
}

.pink {
    color: #FAA;
}

.scribble-under-block {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    pointer-events: none
}

.title_course{
    font-size: 17px;
}

.text_price{
    font-size: 15px;
}

.course {
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    top: 0;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
}

.course:hover {
  top: -10px;
  -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
}

.coursedrag {
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    top: 0;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;

    will-change: transform;
    list-style-type: none;
    cursor: move;
    transition: all 200ms;
    user-select: none;
}

.coursedrag:after {
    top: -10px;
    -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);

    position: absolute;
    cursor: pointer;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
    transform: translateX(120%);
    opacity: 0;
}

.coursedrag:hover:after {
  opacity: 1;
  transform: translate(0);
}

.course .course-inner-text {
    position: relative;
    padding-top: 35px !important;
    font-size: 17px;
    line-height: 1.5
}

.course .course-price {
    position: absolute;
    padding: 10px 15px;
    background: #7971ea;
    color: #fff;
    top: -20px;
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.course .meta {
    font-size: .9rem;
    display: block;
    margin-bottom: .9rem;
}

.course .meta span {
    margin-right: .5rem;
}

.course h3 {
    font-size: 1.15rem;
    color: #000;
    padding: 15px;
}

.course .stats {
    font-size: .9rem;
}


.m-0 {
    margin: 0 !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.border-top {
    border-top: 1px solid rgba(255, 255, 255, .1) !important;
}

.py-3 {
    /*padding-top: 1rem !important;*/
    /*padding-bottom: 1rem !important;*/
    padding: 15px;
    font-size: 15px;
}

.course_img {
    max-width: 400px;
    max-height: 400px;
    background-size: cover;
}

.course_description{
    padding: 5px;
    margin-left: 10px;
}

.drag {
    padding: 0px;
}