<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>S.E.A - skills</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/css/component.css" />
		<script src="static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<section>
				<form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
					<h2>What skills you already have?</h2>
					<ul>
						{%for i in skills %}
							<li><input id={{i}} name={{i}} type="checkbox"><label for={{i}}>{{i}}</label></li>
						{%endfor%}
					</ul>
					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn" type="submit" form="form" value="Submit">Search now</button>
					</div>
				</form>
			</section>
		</div>
		<script src="static/js/svgcheckbx.js"></script>
	</body>
</html>